<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ranga:700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../style.css" />
    
    <script src="../js/lib/csi.js"></script>
    
    <title>Friends Social | Login</title>
  </head>
  <body>
    <main class="login-content">
        <section class="login-form">
            <div class="form">
                <h1><a class="brand-name" href="#">Friends</a> Social App</h1>              
                <form>
                <div class="fields">
                    <input type="text" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                </div>
                <button class="btn btn-login">Log in</button>
                </form>
                <p class="middle-man">OR</p>
                <a href="/">Sign up as new user</a>      
            </div>
        </section>        
    </main>   
    
    <div data-include="../fixed/footer.html"></div>  
  </body>
</html>