<header class="user-menu">
  <div class="divide">
    <div class="title-bar">
      <a href="/home"><span class="brand">Friends</span> Social</a>
      <div class="search-form">
        <form>
          <input type="text" placeholder="Search" />
          <button><i class="fas fa-search"></i></button>
        </form>
      </div>            
    </div>

    <nav>
      <a class="item" href="/profile">
        <i class="fas fa-user"></i>
        <span>Profile</span>
      </a>
      <a class="item" href="/chat">
        <i class="fas fa-comments"></i>
        <span>Chat</span>
      </a>
      <a class="item" href="#More">
        <i class="fas fa-ellipsis-h"></i>
        <span>More</span>
      </a>
    </nav>  
  </div>
</header>   