<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ranga:700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../style.css" />
    
    <script src="../js/lib/csi.js"></script>
    
    <title>Friends Social | Settings</title>
  </head>
  <body>
    <div data-include="../fixed/header.html"></div>

    <main>
      <div class="divide">
        <div data-include="../fixed/popups.html"></div>

        <section class="user-content">
          <header>
            <h2>Settings</h2>
              <a href="#">Change</a>          
          </header>
          <hr />
          <div class="form">
            <form>
                <div class="fields">
                    <input type="text" placeholder="Your Photo" />
                </div>              
                <div class="fields">
                    <input type="text" placeholder="NickName" />
                    <input type="text" placeholder="First" />
                    <input type="text" placeholder="Last" />
                </div>
                <div class="fields">
                    <input type="text" placeholder="Birthdate" />
                    <input type="text" placeholder="Gender" />
                    <input type="text" placeholder="Location" />
                </div>                
                <div class="fields">
                    <input type="text" placeholder="Email" />
                    <input type="password" placeholder="Confirm password" />
                </div>                
                <button class="btn btn-login">Save</button>
            </form>   
          </div>
        </section>
      </div>
    </main>  

    <script type="text/javascript" src="../script.js"></script>
  </body>
</html>   