@import "css/index.css";
@import "css/forms.css";
@import "css/home.css";
@import "css/profile.css";
@import "css/chat.css";
@import "css/nav.css";

html {
  scroll-behavior: smooth;
}

body {
    position: relative;
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: 'Lato', sans-serif;
   color: #90AFC5;
   font-size: 16px;
} 

div.divide {
    width: 80%;
    margin: 0 auto;    
}

a {
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    color: #90AFC5;
}

a:hover { color: #fff; }

h1, h2, h3, h4, h5, h6, { margin: 0; }


.brand-name {
    font-family: 'Ranga', cursive;
    font-size: 5rem;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.bottom-footer {
    background-color: #2A3132;
    padding: 10px;
    text-align: center;
   
}
